/* IMPORT ALL CSS FILES HERE */
@import url('../views/signin/SignIn.css');
@import url('../components/Header/Header.css');
@import url('../views/surveysList/SurveysList.css');

@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@500;700;800&family=Sacramento&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkBlack: #131212;
    --lightBlack: #202020;
    --white: #ffff;
    --lightGreen: #bd9249;
    --fadedGrey: #5c5a5aaf;
    --blue: blue;
}

body {
    font-family: "Poppins", sans-serif;
}

.createUser__topHeadings {
    margin: 20px 0;
    color: var(--white);
    border-bottom: 1px solid var(--fadedGrey);
}

.primary__heading {
    font-family: "Poppins", cursive;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.createUser__topHeadings h5 {
    font-size: 20px;
    font-family: "Sacramento", cursive;
    padding: 5px 0;
}