.surveys__list {
    padding-top: 80px;
    background-color: var(--darkBlack);
    min-height: 100vh;
    max-height: auto;
}

.surveys__list div {
    width: 80%;
    margin: 20px auto;
}
  table {
      width: 80%;
      border-collapse: collapse;
      margin: 0 auto;
  }

  th {
      background: var(--darkBlack);
      color: white;
      font-weight: bold;
      text-align: center !important;
  }

  td,
  th {
      padding: 10px;
      border: 1px solid var(--fadedGrey);
      text-align: left;
      font-size: 16px;
      color: white;
  }

  /* Zebra striping */
  tr:nth-of-type(odd) {
      background: var(--lightBlack);
  }

  /*
  Max width before this PARTICULAR table gets nasty
  This query will take effect for any screen smaller than 760px
  and also iPads specifically.
  */
  @media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {

      table {
          width: 90%;
      }

      /* Force table to not be like tables anymore */
      table,
      thead,
      tbody,
      th,
      td,
      tr {
          display: block;
      }

      /* Hide table headers (but not display: none;, for accessibility) */
      thead tr {
          position: absolute;
          top: -9999px;
          left: -9999px;
      }

      tr {
          border: 1px solid #ccc;
          margin: 15px 0;
      }

      td {
          /* Behave  like a "row" */
          border: none;
          border-bottom: 1px solid #eee;
          position: relative;
          padding-left: 50%;
      }

      td:before {
          /* Now like a table header */
          position: absolute;
          /* Top/left values mimic padding */
          top: 6px;
          left: 6px;
          width: 45%;
          padding-right: 10px;
          white-space: nowrap;
          /* Label the data */
          content: attr(data-column);
          color: var(--white);
          font-weight: bold;
      }
  }